{% extends "index.html" %}

{% block feeds_content %}

<div class="card bg-warning h-50" >

<h3 class="card-header bg-success" style="font-weight: bold; text-align: center;">News</h3>
  <div class="container" style="overflow-y:scroll;overflow-x:scroll">
      {% for entry in rows %}
      <div class="container-fluid">
        <h3>{{entry.title | safe  }}</h3>
        <p>{{ entry.description | safe }}</p>
        <p>
          <a href="{{entry.url}}" target="_blank" class="btn btn-primary">Veiw Details</a>
        </p>
      </div>
      {% endfor %}

    <div class="pagination">
      <strong> <font size="5">
      <span class="step-links">
          {% if rows.has_previous %}
              <a href="?page={{ rows.previous_page_number }}">Previous</a>
          {% endif %}
          <span class="current">
              Page {{ rows.number }} of {{ rows.paginator.num_pages }}
          </span>
          {% if rows.has_next %}
              <a href="?page={{ rows.next_page_number }}"> Next</a>
          {% endif %}
      </span>
      </font></strong>
   </div>
 </div>
 </div><!--/.col-xs-12.col-sm-8-->


{% endblock %}
