{% extends "base.html" %}
{% block content %}
          <div class="container-fluid">
                <h3  class="display-4" style="font-weight: bold; text-align: center">Goals of this Community</h3>
                <h5 style="color: red;">To promote use of Open source projects in Nigeria</h5>
                <h5 style="color: red;">To organize Open source conferences</h5>
                <h5 style="color: red;">To encourage use of Linux OS in Nigerian Universities</h5>
          </div>
{% endblock %}
