{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naija Linux</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body >
    <!-- navbar starts-->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">News</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact Admins</a></li>
          </ul>
        </div>
      <a class="navbar-brand pull-sm-right m-r-0 hidden-xs-down" href="#">Naija Geeks</a>
    </div>

    </nav>
    <!-- navbar ends-->

    <hr />
    <div class="container p-t-2"> <!--main container-->
      <!-- show show -->
      <div class="jumbotron bg-danger">
        <h2 class="display-4" style="text-align: center">Nigeria Linux and Opensource Enthusiasts</h2>
          <h5 style="text-align: center">Community of Naija Technology Guys and Girls</h5>

      </div>


      <div class="row">   <!-- main rows -->

        <div class="col-md-8">
          <div class="card " style="overflow-y:hidden;overflow-x:scroll">
             <div class="card-block">
            <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Popular Open source Projects</h3>
              <a href="https://www.openstack.org/" class="card-link">Openstack</a>
              <a href="https://kubernetes.io/" class="card-link">Kubernetes</a>
              <a href="https://kubernetes.io/" class="card-link">Ansible</a>
          </div>
        </div>
          <hr />
          <div class="card " >
            <h2 class="card-header bg-success" style="font-weight: bold; text-align: center">Articles</h2>
          </div>

      </div>

      <div class="col-md-4">
          {% block feeds_content %}
          {% endblock %}
          <hr />
      </div>

      </div> <!-- main row -->

    </div> <!-- main container -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
