{% extends "base.html" %}
{% block content %}
        <div class="col-md-8"> <!-- col-8 -->
          <div class="card ">
             <div class="card-block">
               <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Goals of this Community</h3>
                <h5 style="color: red;">To promote use of Open source projects in Nigeria</h5>
                <h5 style="color: red;">To organize Open source conferences</h5>
                <h5 style="color: red;">To encourage use of Linux OS in Nigerian Universities</h5>
            </div>
        </div>

          <div class="card mt-3" style="overflow-y:hidden;overflow-x:scroll">
             <div class="card-block">
               <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Popular Open source Projects</h3>

              {% for entry in project_list %}
                <a href="{{ entry.url }}" class="card-link">{{ entry.name }} </a>
              {% endfor %}
            </div>
        </div>

      <div class="card mt-3" style="overflow-y:hidden;overflow-x:scroll">
           <div class="card-block">
          <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Popular Linux Distros</h3>
              <a href="https://www.centos.org/" class="card-link">Centos</a>
              <a href="https://getfedora.org/" class="card-link">Fedora</a>
              <a href="https://www.ubuntu.com/" class="card-link">Ubuntu</a>
              <a href="https://www.opensuse.org/" class="card-link">OpenSUSE</a>
              <a href="https://www.debian.org/" class="card-link">Debian</a>
              <a href="https://www.archlinux.org/" class="card-link">Arch</a>
              <!--a href="https://kubernetes.io/" class="card-link">Gentoo</a-->
        </div>
      </div>

      {% include "blogposts/blog_display.html" %}

          <div class="card mt-3" >
            <h2 class="card-header bg-success" style="font-weight: bold; text-align: center">Videos by Fellow Nigerians</h2>
              <div class="container">
                {% include "clips/video_display.html" %}
              </div>
          </div>

      </div> <!-- end col-8 -->

      <div class="col-md-4">
          {% block feeds_content %}
          {% endblock %}

          <div class="card mt-2">
            <h4 class="card-header bg-success">Relevant Links</h4>
            <a href="https://linuxfoundation.org" class="card-text">https://linuxfoundation.org</a>
            <a href="https://www.linux.com" class="card-text">https://www.linux.com</a>
            <a href="https://distrowatch.com" class="card-text">https://distrowatch.com</a>
        </div>
      </div>
  {% endblock content %}
