{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naija Linux</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body >
    <!-- navbar starts-->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>

            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>

          </ul>

          <ul class="nav navbar-nav  ml-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Hello {{ request.user.username }}, Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "register" %}">Sign up</a></li>
              {% endif %}
          </ul>
        </div>
    </div>
    </nav>
    <!-- navbar ends-->
    <hr />
    <div class="container mt-4"> <!--main container-->
      <!-- show show -->
      <div class="jumbotron bg-danger">
        <h2 class="display-4" style="text-align: center">Nigeria Linux and Opensource Enthusiasts</h2>
          <h5 style="text-align: center">Community of Naija Technology Guys and Girls</h5>
      </div>

      <div class="row mt-3">   <!-- main rows -->

        <div class="col-md-8"> <!-- col-8 -->

          <div class="card ">
             <div class="card-block">
               <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Goals of this Community</h3>
                <h5 style="color: red;">To promote use of Open source projects in Nigeria</h5>
                <h5 style="color: red;">To organize Open source conferences</h5>
                <h5 style="color: red;">To encourage use of Linux OS in Nigerian Universities</h5>
            </div>
        </div>

          <div class="card mt-3" style="overflow-y:hidden;overflow-x:scroll">
             <div class="card-block">
               <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Popular Open source Projects</h3>

              {% for entry in project_list %}
                <a href="{{ entry.url }}" class="card-link">{{ entry.name }} </a>
              {% endfor %}
            </div>
        </div>

      <div class="card mt-3" style="overflow-y:hidden;overflow-x:scroll">
           <div class="card-block">
          <h3 class="card-header bg-success" style="font-weight: bold; text-align: center">Popular Linux Distros</h3>
              <a href="https://www.centos.org/" class="card-link">Centos</a>
              <a href="https://getfedora.org/" class="card-link">Fedora</a>
              <a href="https://www.ubuntu.com/" class="card-link">Ubuntu</a>
              <a href="https://www.opensuse.org/" class="card-link">OpenSUSE</a>
              <a href="https://www.debian.org/" class="card-link">Debian</a>
              <a href="https://www.archlinux.org/" class="card-link">Arch</a>
              <!--a href="https://kubernetes.io/" class="card-link">Gentoo</a-->
        </div>
      </div>

          <div class="card mt-3" >
            <h2 class="card-header bg-success" style="font-weight: bold; text-align: center">Articles by fellow Nigerians</h2>
              <div class="container">
                {% include "blogposts/blog_display.html" %}
              </div>
          </div>
          <div class="card mt-3" >
            <h2 class="card-header bg-success" style="font-weight: bold; text-align: center">Videos by Fellow Nigerians</h2>
              <div class="container">
                {% include "clips/video_display.html" %}
              </div>
          </div>

      </div> <!-- end col-8 -->

      <div class="col-md-4">
          {% block feeds_content %}
          {% endblock %}

          <div class="card mt-2">
            <h4 class="card-header bg-success">Relevant Links</h4>
            <a href="https://linuxfoundation.org" class="card-link">https://linuxfoundation.org</a>
            <a href="https://www.linux.com/" class="card-link">https://www.linux.com/</a>
            <a href="https://distrowatch.com/" class="card-link">https://distrowatch.com/</a>
          </div>
      </div>

      </div> <!-- main row -->
      <footer>
       <p>&copy; 2017 Company, Inc.</p>
      </footer>
    </div> <!-- main container -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
